<h1>Admin Dashboard</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">Number of products:</h3>
          <p class="card-text display-4"><%= @product_count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">Number of categories:</h3>
          <p class="card-text display-4"><%= @category_count %></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
      <a href="/admin/products" class="btn btn-primary btn-lg">Click To Manage Products</a>
    </div>
  </div>
</div>
